body {
    background-color: rgb(52, 59, 117);
    color: white;
    
}

.content {
    max-width: 500px;
    margin: auto;
    padding: 10px;
}


/* home.html */
#home {
    color: white;
    font-family: fantasy;
    font-weight: bold;
}


#buttons {
    font-weight: bold;  
}

#signup-form {
    display: flexbox;
    flex-direction: column;   
}

a {
    text-decoration: none;
     
}

#link {
    color:aliceblue;
}

#homePic img{
    margin-top: 30px;
    margin-bottom: 60px;
   max-width: fit-content; 
   max-height: fit-content;
}


/* appointment.html */
#apptContainer {
    height: 500px;
    width: 250px;
    margin: auto;
}

.appt-card{
    display: flexbox;
    background-color: lightgray;
    border-style: double;
    border-radius: 10px;
    height: 60px;
    width: 120px;
    margin: 30px;
}


.appt-card h5{
    color: black;
    margin: 4px
}

.appt-card h4 {
    color: black;
    
}


.style {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp0wwXnInqlJWBoh9If11lVGI6C4HDd1H96Q&usqp=CAU");
    color: grey;
    word-wrap: normal;
    max-height: 300px;
    max-width: 300px;
    margin: 30px;
    padding: 10px;
    border-radius: 2%;
}

.style h3 {
    text-decoration: underline;
}

table {
    margin: auto;
    background-color: aliceblue;
    border-collapse: collapse;
}

#tr th {
    border: 2px solid;
}

#tr td {
    border: 2px solid;
}

#sec {
    background-color: antiquewhite;
    height: 550px;
    width: 300px;
    margin: auto;
    color: black;
    
}

.cardButton {
    height: 20px;
    width: 40px;
    border-bottom-width: medium;
    font-size: x-small;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

#cardButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#date {
    display: flex;
    height:40px;
    justify-content: center;

}


/* style.html */
#classics {
    background-image: url("https://media.istockphoto.com/vectors/fresh-brown-womans-eye-vector-id835330420?k=6&m=835330420&s=612x612&w=0&h=VBraGZ8OsJ5qVSvF78vP3OzvEN47qhyvVKzzgc9fuoo=");
    height: 220px;
    max-width: 500px;
    color:grey;

}

#hybrids {
    background-image: url("https://clipground.com/images/clipart-eyebrows-8.jpg");
    height: 220px;
    max-width: 500px;
    color:grey;
    
}

#volumes {
    background-image: url("https://i.pinimg.com/originals/2d/83/08/2d8308dd53a520a3ae85c15234651ab8.jpg");
    height: 200px;
    max-width: 500px;
    color:grey;
}

.diffStyle {
    box-shadow: darkgray;
    border-radius: 2%;
}

.diffStyle p {
    font-size: large;
    font-weight: bold;
}


/* footer */
footer {
    margin: 50px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

